__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.git
.gitignore
.DS_Store

env
venv

*.env

*.db

__init__.*

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.cpython-*
*.pyd
*.pyc


staticfiles

*.sqlite3